

<section id ="div1">
    <br>
    <h1>Frequently Asked Questions</h1>
    <br>
    <p class="header_p">Have any questions? We are here to assist you. </p>
    <br>
    <input type="search" id="searchbox" onkeyup="search_faq()" type="text" name="search" style="color:grey; " placeholder="Search here" ; outline= "0" border-radius = "25px" class = "round" style= "width: 10%" oninput="liveSearch()"  >
    <br>
</section>

  <body>

  <div class="container">

  <div class="box">
    <div class="icon">
      <i class="ri-price-tag-3-line"></i>
    </div>
    <h3>Find a Bike</h3>
    <p>Visit the Locations page to to view all stations with available bikes near you. Click the Rent A bike button to view the rental page.</p>
  </div>


  <div class="box">
  <div class="icon">
    <i class="ri-riding-line"></i>
  </div>
  <h3>What should I do if my payment fails?</h3>
  <p>If your payment fails, you can use the (COD) payment option, if available on that order. If your payment is debited from your account after a payment failure, it will be credited back within 7-10 days.</p>
  </div>


  <div class="box">
  <div class="icon">
  <i class="ri-bank-card-line"></i>
  </div>
  <h3>What if there are no bikes available at a station?</h3>
  <p class="faq_p">Check the live maps — available on the kiosk screen, on the website or on the mobile app. Maps will display the real-time availability of the bikes at all docking stations.</p>
  </div>

  <div class="box">
  <div class="icon">
  <i class="ri-forbid-line"></i>
  </div>
  <h3>Where can I ride my bike?</h3>
  <p>You can ride anywhere as long as you remain within the system area. You can check the designated area on the website map. Please note that leaving the system area can result in penalties incurred on your account.</p>
  </div>

  <div class="box">
  <div class="icon">
  <i class="ri-truck-line"></i>
  </div>
  <h3>How long can I rent a bike</h3>
  <p>Each individual ride lasts for 2 hours. If you choose to keep the bike longer than that, you will be charged a fee of $0.15 for each additional minute thereafter. The bike must be returned after 24 hours else, it will be considered stolen and a fee of $2,000 will be charged to your credit card.</p>
  </div>

  <div class="box">
  <div class="icon">
  <i class="ri-money-dollar-circle-line"></i>
  </div>
  <h3>Do I have to return it to the same station?</h3>
  <p class="faq_p">It is possible to return the bike to any station in the system. To know the station locations, check the map available on the website, mobile app and at the kiosk.</p>
  </div>


  </div>

  <div class="lower_section">

  <div> 
  <h3>Still have questions?</h3>
  <p class="lower_section_p">Can't find the answer you're looking for? Please chat with our friendly team.</p>
  </div>

  <div>
  <button>Get in touch</button>
  </div>

  </div>

  <script>

  function liveSearch() {
    // Locate the card elements
    let cards = document.querySelectorAll('.cards')
    // Locate the search input
    let search_query = document.getElementById("searchbox").value;
    // Loop through the cards
    for (var i = 0; i < cards.length; i++) {
      // If the text is within the card...
      if(cards[i].innerText.toLowerCase()
        // ...and the text matches the search query...
        .includes(search_query.toLowerCase())) {
          // ...removes the `.is-hidden` class.
          cards[i].classList.remove("is-hidden");
      } else {
        // Otherwise, add the class.
        cards[i].classList.add("is-hidden");
      }
    }
  }

  </script>
  </body>
