.icon{
    height: 36px;
    width: 36px;
    background-color: #8C1627 ;
    border-radius: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 15px;
  }

.container {
width: 90%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
position: relative;
}




.box {
width: 400px;
height: 200px;
margin: 10px;

}

.lower_section {
    background-color: #FFEEE4;
    width:800px;   
    margin: 1em 0;
    height: 100px; 
    display:grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 12px;
}

.lower_section_p{
    text-align: left;
    margin-top:10px;
}


.round {
    width: 15%;
    border-radius: 15px;
    border: 2px #ACACAC solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}
.round1 {
    width: 100%;
    border-radius: 15px;
    border: 2px #ACACAC solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}

.img {
    max-width: 100%;
    max-height:100%;
    float: left;
  }

.nav
{
width: 100vw;
height: 70px;
position:sticky;
padding: 0px;
top:0;
text-align: center;
left:0;
z-index: 2;
background-color: white;
display: inline-block;
}